<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!--
  <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <keepAliveDuration>1 minutes</keepAliveDuration>
    <reconnectionDelay>5 second</reconnectionDelay>
    <waitStrategyType>blocking</waitStrategyType>
    <ringBufferSize>16384</ringBufferSize>
    <destination>${LOGSTASH_SERVER:-localhost}</destination>
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <globalCustomFields>
          <customFields>{"api": "myapi"}</customFields>
        </globalCustomFields>
        <mdc/>
        <logLevel/>
        <loggerName/>
        <threadName/>
        <message/>
        <logstashMarkers/>
        <stackTrace>
          <fieldName>stackTrace</fieldName>
          <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
            <rootCauseFirst>true</rootCauseFirst>
            <inlineHash>true</inlineHash>
            <maxDepthPerThrowable>30</maxDepthPerThrowable>
            <shortenedClassNameLength>30</shortenedClassNameLength>
            <maxLength>20480</maxLength>
          </throwableConverter>
        </stackTrace>
      </providers>
    </encoder>
  </appender>
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%green(%15.15t)] [%highlight(%-5level)] %cyan(%40.40logger{39}): %msg %n</pattern>
    </encoder>
  </appender>

  <!-- API is in debug, your own api -->
  <logger name="api" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <!-- Tinder itself is in info -->
  <logger name="tinder" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>