/gauntlet/target/
/gauntlettest/target/
/tinder/target/
/tinder2/target/
/tinder/core/target/
/tinder/processors/target/
/mavenproject1/target/
/tinderarchetype/target/
/tindertest/target/
/tinder/tinder-patterns/target/
/tinder/patterns/target/
/tinderarchetype/src/main/resources/local.yml
/tinderarchetype/dependency-reduced-pom.xml
/tinder/core/nb-configuration.xml
/tinder/nb-configuration.xml
/tinder/patterns/nb-configuration.xml
/tinderarchetype/nb-configuration.xml
*.iml
*.idea
.project
.classpath
.settings
