/gauntlet/target/
/gauntlettest/target/
/tinder/target/
/tinder2/target/
/tinder/core/target/
/tinder/processors/target/
/mavenproject1/target/
/tinderarchetype/target/
/tindertest/target/
/tinder/tinder-patterns/target/
/tinder/patterns/target/